body {
  min-width: 550px;      /* 2x LC width + RC width */
  text-align: center;
    background-color: #146898;
    color: aliceblue;
}
#header {
    padding: 10%;
}
.flexbox-container {
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.flexbox-container > div {
	width: 50%;
	padding: 10px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

.img-circle {
    border-radius: 50%;
    height: 30%;
    width: 30%;
}


/* some of this is from http://alistapart.com/article/holygrail */